singularity{
  enabled = true
  runOptions = '--bind /fs1/'
}


params {
  
  //refpath = '/fs1/resources/ref/hg38/rnaseq_scanb'
  outdir = '/fs1/results_dev'
  subdir = 'rnaseq_scanb'
  refbase = "/fs1/resources/ref/hg38"
    
  
  crondir = '/fs1/results_dev/cron/'
  baseDir = "/fs1/sima/rnaseq_scanb_dev"
  git = "$baseDir/git.hash"
  container="/fs1/resources/containers/scanb_rnaseq_active.sif"   
  
  genome = "${refbase}/rnaseq_scanb/GRCh38.primary_assembly.genome.fa"
  gtf = "${refbase}/rnaseq_scanb/gencode.v27.primary_assembly.annotation.gtf"
  transcripts = "${refbase}/rnaseq_scanb/gencode.v27.transcripts.fa"
  snp150 = "${refbase}/rnaseq_scanb/snp150Common.txt.ensembl"
  indxDir="${refbase}/rnaseq_scanb/hisat2_index"
  RMidx="${refbase}/rnaseq_scanb/ribo_phix_repeats_filter/ribo_phix_repeats_filter"
//qc module files
  ref_genome_dir = "${refbase}/data/star_refGenome_index/star_ref_index/"
  ref_rseqc_bed="${refbase}/data/RseQC/Homo_sapiens.GRCh38.79.bed"
  //provider:
  ref_bed = "${refbase}/data/provider/HPA_1000G_final_38.bed"
  ref_bedXy= "${refbase}/data/provider/xy_38.bed"
    
  ht2ref=false
  filterFastqs=true
}

process {
 executor='slurm'
 queue='normal'
 time=48.h
 }
