singularity{
  enabled = true
  runOptions = '--bind /fs1/'
}


params {
  
  refpath = '/fs1/resources/ref/hg38/rnaseq_scanb'
  outdir = '/fs1/results_dev'
  subdir = 'rnaseq_scanb'
  
  //crondir = '/fs1/results_dev/cron/'
  baseDir = "/fs1/sima/rnaseq_scanb_dev"
  git = "$baseDir/git.hash"
  container="/fs1/resources/containers/scanb_rnaseq_active.sif"   
  
  genome = "${refpath}/GRCh38.primary_assembly.genome.fa"
  gtf = "${refpath}/gencode.v27.primary_assembly.annotation.gtf"
  transcripts = "${refpath}/gencode.v27.transcripts.fa"
  snp150 = "${refpath}/snp150Common.txt.ensembl"
  indxDir="${refpath}/hisat2_index"
  RMidx="${refpath}/ribo_phix_repeats_filter/ribo_phix_repeats_filter"

  ht2ref=false
  filterFastqs=true
}

process {
  executor='slurm'
  queue='normal'
  time=48.h
  }