singularity{
  enabled = true
  runOptions = '--bind /data/ --bind /fs1/'
}


params {
  
  refpath = '/data/bnf/dev/sima/nextflow_scanb/ref'
  outdir = '/data/bnf/dev/sima/'
  subdir = 'nextflow_scanb/results'
  
  crondir = '/fs1/results/cron/'
  baseDir = "/data/bnf/dev/sima/nextflow_scanb"
  git = "$baseDir/git.hash"
  
  genome = "${refpath}/GRCh38.primary_assembly.genome.fa"
  gtf = "${refpath}/gencode.v27.primary_assembly.annotation.gtf"
  transcripts = "${refpath}/gencode.v27.transcripts.fa"
  snp150 = "${refpath}/snp150Common.txt.ensembl"

}
